
@theme inline {
    --color-primary:var(--color-primary);
    --color-primary_light:var(--color-primary_light);
    --color-secondary:var(--color-secondary);
    --color-pastel_blue:var(--color-pastel_blue);
    --color-purple:var(--color-purple);
    --color-light_mint:var(--color-light_mint);
    --color-hover_primary:var(--color-hover_primary);
    --color-danger:var(--color-danger);
    --color-danger_light:var(--color-danger_light);
    --color-danger_light2:var(--color-danger_light2);
    --color-pink:var(--color-pink);
    --color-hover_danger:var(--color-hover_danger);
    --color-hover_warning:var(--color-hover_warning);
    --color-warning:var(--color-warning);
    --color-neutral:var(--color-neutral);
    --color-neutral_light:var(--color-neutral_light);
    --color-neutral_dark:var(--color-neutral_dark);
    --color-placeholder:var(--color-placeholder);
    --color-placeholder_light:var(--color-placeholder_light);
    --color-placeholder_light2:var(--color-placeholder_light2);
    --color-placeholder_dark:var(--color-placeholder_dark);
    --color-brown:var(--color-brown);
    --color-info:var(--color-info);
    --color-burly_wood:var(--color-burly_wood);
    --color-olive:var(--color-olive);
    --color-olive_darb:var(--color-olive_darb);
    --color-dark:var(--color-dark);
    --color-surface:var(--color-surface);
    --color-dark_surface:var(--color-dark_surface);
    --color-brown_secondary:var(--color-brown_secondary);
}