@theme inline {
    --color-primary: #9ab973;
    --color-primary_light: #bdcfa7;
    --color-secondary:#cca07e;
    --color-pastel_blue:#b7c8f7;
    --color-purple: #c48aff;
    --color-light_mint:#d0e0bc;
    --color-hover_primary: #1f5e22;
    --color-danger: #F44336;
    --color-danger_light: #f5c9c6;
    --color-danger_light2: #eb7575;
    --color-pink: #f056bd;
    --color-hover_danger: #de4e4e;
    --color-hover_warning: #ebe8a9;
    --color-warning: #f0d889;
    --color-neutral: #FAFAFA;
    --color-neutral_light: #F5F5F5;
    --color-neutral_dark: #F7F2E9;
    --color-placeholder: #616161;
    --color-placeholder_light: #d9d9d9;
    --color-placeholder_light2: #c9c5c5;
    --color-placeholder_dark: #0000003A;
    --color-brown: #6D4C41;
    --color-info: #2196F3;
    --color-burly_wood:#edca9a;
    --color-olive:#808000;
    --color-olive_darb:#6b8e23;
    --color-dark:#050505;

}