@import "./colors.css";
@import "./variables.css";
@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "inter";
    src: url("/fonts/inter/Inter-Italic-VariableFont_opsz,wght.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "inter";
    src: url("/fonts/inter/Inter-VariableFont_opsz,wght.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "playpenSansArabic";
    src: url("/fonts/PlaypenSansArabic/PlaypenSansArabic-Regular.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: "PlaywriteNZGuides";
    src: url("/fonts/PlaywriteNZGuides/PlaywriteNZGuides-Regular.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: "satisfy";
    src: url("/fonts/Satisfy/Satisfy-Regular.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: "elms";
    src: url("/fonts/Elms/ElmsSans-VariableFont_wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
}

:root {
    --vh: 100%;
}

html[dir="ltr"] {
    font-family: "elms", sans-serif;
    height: calc(var(--vh, 1vh) * 100);
}
html[dir="rtl"]{
    font-family: "playpenSansArabic", sans-serif;
}

/*----scrollbar------*/
.no-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
}

.no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}


::-webkit-scrollbar {
    width: 3px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #d4cfcf; /* Track color */
}

::-webkit-scrollbar-thumb {
    background: var(--color-primary); /* Thumb color */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555; /* Thumb color on hover */
}

/*--------MUI override----------*/
.MuiDrawer-paperAnchorRight {
    @apply !bg-primary_light p-2
}

.dark .MuiDrawer-paperAnchorRight {
    @apply !bg-neutral_light
}

/*--------date picker---------*/
.dark .rmdp-day {
    @apply text-white;
}

.dark .rmdp-month-picker,
.dark .rmdp-year-picker,
.dark .rmdp-calendar,
.dark .rmdp-ep-arrow::after {
    @apply bg-[var(--color-placeholder_dark)];
}

.dark .rmdp-header-values {
    @apply text-white;
}

/*---------languages----------*/
html[dir="rtl"] {
    direction: rtl;
    text-align: right;
}

html[dir="ltr"] {
    direction: ltr;
    text-align: left;
}

/*--------print demo----------*/

@media print {

    @page {
        size: A4 portrait;
        margin: 12mm;
    }

    /* Proper block wrapper to prevent slicing */
    .list-item-block {
        display: block;

        /* Standard print break control */
        break-inside: avoid;
        page-break-inside: avoid;
        break-after: auto;

        /* Safari + WebKit print hacks */
        -webkit-region-break-inside: avoid;
        -webkit-column-break-inside: avoid;
        -webkit-page-break-inside: avoid;
    }

    /* Clean list */
    .print-list {
        padding: 0;
        margin: 0;
    }

    .print-list > li {
        list-style: none;
        margin-bottom: 12px;
        display: block;

        /* helps Safari treat <li> as atomic block */
        -webkit-column-break-inside: avoid;
    }
}

